@use "./utils/variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  background-color: #ffffff;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

li {
  margin: 0.5rem 0;
}

li h2 {
  font-size: 2.5rem;
}

li p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

li span {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
}
